*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/captures
google-services.json
# !app/src/main/res/raw/*.json
assets/database/*/


