/build
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/captures
.externalNativeBuild
/utils/Configuration.java
utils/Configuration.java
Configuration.java
/release
/schemas

# /assets/database/
assets/datase/*/




